body, html {
    margin: 0;
    padding: 0;
    height: 100%;
    display: flex;
    flex-direction: column;
    overflow-y: hidden;
}

body * {
  position: relative;
  max-width: 100%; /* Ensure children don't exceed the max-width of the parent */
  box-sizing: border-box; /* Include padding and border in the element's width */
	font-family: "Verdana",Geneva,sans-serif;
}

header {
  position: fixed;
  top: 0;
  right: 0;
  width: 100%;
  max-width: none;
  /* height: 75px; */
  background-color: #f8f9fa;
  border-bottom: 1px solid #dee2e6;
  z-index: 1030; /* Ensure it’s above other content */
}

body {
  width: 100%;
  max-width: 10in;
  align-self: center;
}

/* work on features of posts */

.grid-item {
  margin-bottom: .75px; /* Add space between items */
  padding: 15px;
  background-color: #f8f9fa; /* Light gray background */
  border-radius: 5px;
}

.grid-sizer, .grid-item { 
  width: 50%; 
}

/* features of posts end here */


#bottom-nav {
  background-color: #333;
  color: #fff;
  position: fixed;
  width: 100%;
  max-width: 10in;
  align-self: center;
  bottom: 0;
  /* left: 0; */
  /* display: none; */
}

nav ul {
  list-style: none;
  display: flex;
  justify-content: space-around;
  margin: 0;
  padding: 10px 0;
  /* position: relative; */
}

nav#top-nav {
  display: block;
  float: left;
  padding-bottom: 25px;
  width: 100%;
}

nav ul li a {
    color: white;
    text-decoration: none;
}

nav ul li a:hover {
    text-decoration: underline;
}

nav ul li#logo {
  position: absolute;
  /* left: 50%; */
}

nav>ul>li#side-btn {
  margin-inline: 15px;
  position: absolute;
  left: 0;
}

#sidenav {
  height: 100%;
  width: 350px;
  position: fixed;
  top: 0;
  left: 0;
  background-color: #111;
  padding-top: 60px;
  transition: 0.3s;
  transform: translateX(-100%);
  z-index: 1000;
}
#sidenav a {
  padding: 8px 8px 8px 32px;
  text-decoration: none;
  font-size: 25px;
  color: #818181;
  display: block;
  transition: 0.3s;
}
#sidenav a:hover {
  color: #f1f1f1;
}
#sidenav .closebtn {
  position: absolute;
  top: 0;
  right: 25px;
  font-size: 36px;
  margin-left: 50px;
}
.openbtn {
  font-size: 20px;
  cursor: pointer;
  background-color: #727171;
  /* width: 35px; */
  color: white;
  border: none;
  border-radius: 3px;
}
.overlay {
  display: none;
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: rgba(0, 0, 0, 0.5);
  z-index: 999;
}


/* Home page styling */
/* Home page styling */
/* Home page styling */

#create_post{
  height: 29vh;
  /* background-color: blue; */
}
#notifications{
  height: 60vh;
  display: block;
}
#notifs {
  height: 90%;
  background-color: red;
}
#notifications * {
  display: inline-block;
  justify-content: space-between;
  padding: 0;
  margin: 0;
}
#notifications>h4 {
  position: fixed;
  width: 100%;
  max-width: 10in;
  text-align: center;
  background-color: #f8f9fa;
  padding: 6px;
  z-index: 2;
}
#notifications ul {
  width: 100%;
  margin: 0;
  padding: 0;
  background-color: aqua;
}
#notifications ul>li {
  background-color: blue;
  list-style-type: none;
  /* width: 100%; */
}

.mCustomScrollBox .mCSB_container {
  padding: 0 !important; /* Remove padding */
  margin: 0 !important;  /* Remove margin */
}
